:root {
    /* Colores Principales */
    --blanco: white;   
    --negro : black;
    --borde-negro: #00000050;

    /* Tipografia */
    --tipo-principal: 'Open Sans', sans-serif;
}

*{
margin: 0;
padding: 0;
border: 0;
box-sizing: border-box;
}
a {
    display: block;
    color: inherit;
    text-decoration: none;
}
li {
    list-style-type: none;
}
p a {
    display: inline-flex;
}
h1, h2, h3 {
    font-size: inherit;
    font-weight: inherit;
}
img {
    width: 100%;
    display: block;
    object-fit: cover;
}
body {
    font-size: 100%;
    font-family: var(--tipo-principal);
    background-color: var(--blanco);
    color: var(--negro);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 4px;
    scroll-behavior: smooth;
}

.cabecera {
    width: 100%;
    background-color: var(--blanco);
    padding: 1.2em 0;
}

.cabecera .centrado {
    width: 80%;
    margin: auto;

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    align-content: initial;

}
.cabecera .centrado .fa-bars {
    display: none;
}
.cabecera .centrado .logo {
    width: 100%;
    max-width: 9em;
} 

.cabecera .centrado .menu {
    width: calc( 90% - 9em );
}
.cabecera .centrado .menu .ul {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
    align-content: initial;
}
.cabecera .centrado .menu .item {

    margin: 0px .8em;
    font-weight: 600;
}

.soul {
    width: 100%;
    min-height: 150vh; 
    background-image: url(../assets/img/señor.jpg);
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    align-content: initial;
}

.soul .logosoul{
    width: 90%;
    max-width: 47.5em;
    min-height: 3em;
    
}

.columnas {
    width: 100%;
    min-height: 200px;

    padding: 10vh 0;
}

.columnas .centrado {
    width: 80%;
    min-height: 100px;

    margin: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    align-content: initial;

}

.columnas .centrado .columna {
    width: calc( 100% / 3 - 2.5em );
}

.columnas .centrado .columna .img {
    width: 100%;
    min-height: 12.5em;

    margin: 0 0 2.5em 0;
}

.columnas .centrado .columna .titular {
    width: 100%;
    font-weight: 600;
    
    margin: 1.2em 0;
}

.footer {
    width: 100%;
    min-height: 18em;
    font-size: .8em;
}
.footer .rrss {
    width: 100;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    align-content: initial;

}

.footer .rrss .redsocial {
   min-height: 3em;
   margin: 0 10px;
}

.footer .rrss .redsocial .fab {
    min-height: 3em;
    font-size: 2em;
}

.footer .links{
    width: 50%;
    min-height: 3em;
    margin: 1.2em auto;

    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: initial;
    align-content: center;

}

.footer .links .enlaces {
    min-height: 1.2em;
    margin: 0 .8em;
    padding: 0 0 .1em;
    border-bottom: 1px solid var(--borde-negro);
}

.footer .copy {
    width: 100%;
    min-height: 3em;

}

@media screen and (max-width:960px) {
    body {
        font-size: 80%;
    }
    .columnas .centrado .columna {
        width: 100%;
    }
    .cabecera .centrado .menu {
        display: none;
    }
    .cabecera .centrado .fa-bars {
        display: flex;
    }
    .soul {
        background-attachment: scroll;
    }
    .columnas {
        padding: 10 vh;
    }
    .footer .links .enlaces {
        margin: .4em 0;
        font-size: .7em;
        border: 0em;
    }
}
@media screen and (prefers-color-scheme:dark) {
    :root {
        /* Colores Principales */
        --blanco: black;
        --negro : white;
        --borde-negro: #FFFFFF50;
    }
}